*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fa;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

h2{
    font-weight:bold;
}

.card{
    border:none;
    border-radius:12px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card:hover{
    transform:translateY(-5px);
}

.card-title{
    font-weight:bold;
}

.badge{
    font-size:14px;
}

.btn{
    border-radius:8px;
}

.form-container{
    max-width:500px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

input,
select{
    margin-bottom:15px;
}

.footer{
    margin-top:40px;
    padding:20px;
    text-align:center;
    color:#666;
}